# dependencies
/node_modules

# production build
/dist

# system files
.DS_Store
Thumbs.db

# environment variables
.env
.env.local
.env.*.local

# Vite cache
/.vite

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor folders
.idea
.vscode
*.swp

# optional: macOS quarantine attributes
*.qlgenerator
*.metadata